@model ModelsLibrary.Login
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

@*<h1>Login</h1>

    <h4>loginm</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="username" class="control-label"></label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Create">Register</a>
    </div>*@

<!DOCTYPE html>
<html>
<head>
    <title>SignUp and Login</title>
    <link rel="stylesheet" type="text/css" href="/CSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script>
        function validateform() {
            var name = document.myform.name.value;
            var password = document.myform.password.value;

            if (name == null || name == "") {
                alert("Name can't be blank");
                return false;
            }
        }
    </script>

    <div class="container" id="container">
        <!--
        <div class="form-container sign-up-container">

            <form name="myform" method="post" action="admin_sign.html" onsubmit="return validateform()" >
            <h1>Create Account</h1>
            <div class="social-container">
                <a  href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <label>Security Question</label>
            <select>
            <option value = "First School"> First School
            </option>
            <option value = "First Pet"> First Pet
            </option>
            <option value = "Favourite Sport"> Favourite Sport
            </option>
            </select>
            <input type="text" name="security_question" placeholder="security_answer">
            <button>SignUp</button>
        </form>
        </div>-->
        <div class="form-container sign-in-container">
            <form asp-action="Login" method="post">
                <h1>Sign In</h1>
                @*<div class="social-container">
            <a class="social" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="social" href="http://google.com/+"><i class="fa fa-google"></i></a>
            <a class="social" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your account</span>
        <input type="text" name="username" placeholder="UserName" required>
        <input type="password" name="password" placeholder="Password" required>*@
                <div class="form-group">
                    @*<label asp-for="username" class="control-label">USERNAME</label>*@
                    <input asp-for="username" class="form-control" placeholder="Username" required/>
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @*<label asp-for="password" class="control-label">PASSWORD</label>*@
                    <input asp-for="password" type="password" class="form-control" placeholder="Password" required/>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>*@
                <!-- <button onclick="myfunction();">Forgot Your Password</button><br> -->

                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, User!</h1>
                    <p>Enter your details and start journey with us</p>
                    <button  class="ghost" id="signUp"><a asp-action="Create" asp-controller="account">Register </a></button>
                    @*<input class="ghost" id="signUp" type="button" value="Register" onclick="location.href='@Url.Action("Create", "account")'" />*@
                </div>
            </div>
        </div>
    </div>

    @*<script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>*@
    <script>
        function myfunction() {
            var retVal = prompt("Enter security answer : ", "your name here");
            document.write("You have entered : " + retVal);
        }
    </script>

</body>
</html>

