@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/logo-cinematica.png">
    <link rel="stylesheet" href="@Url.Content("~/css/About Us.css")">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a class="logo" asp-action="Customer"><img src="~/Images/logo_transparent.png" alt="logo" height="75" width="75"></a>
        <nav>
            <ul class="nav__links">
                <li><a asp-action="Customer"><i class="fa fa-home"></i> Home</a></li>
                @*<li><a href="search.html"><i class="fa fa-fw fa-search"></i> Search</a></li>
                <li><a class="cta" asp-action="CustomerAboutUs"><i class="fa fa-address-card"></i> About Us</a></li>*@
                <li><a asp-action="Logout" asp-controller="account"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a asp-action="Customer"><i class="fa fa-home"></i> Home</a>
            @*<a href="search.html"><i class="fa fa-fw fa-search"></i> Search</a>
            <a asp-action="CustomerAboutUs"><i class="fa fa-address-card"></i> About Us</a>*@
            <a asp-action="Logout" asp-controller="account"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </div>

    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Srilekha.png" alt="Srilekha">
                </div>
                <h3>Srilekha Regulagadda</h3>
                <p class="role">Team Leader</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Nikhil.png" alt="Nikhil">
                </div>
                <h3>Nikhil G Alex</h3>
                <p class="role">UI developer</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Shubham.png" alt="Shubham">
                </div>
                <h3>Shubham</h3>
                <p class="role">UI developer</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Sidharth.png" alt="Sidharth">
                </div>
                <h3>Sidharth Vasudevan</h3>
                <p class="role">UI developer</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Wayne.png" alt="Wayne">
                </div>
                <h3>Wayne Joslee</h3>
                <p class="role">Support Lead</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Nithish.png" alt="Nithish">
                </div>
                <h3>O. Nithish Reddy</h3>
                <p class="role">Backend developer</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Images/Surya.png" alt="Surya">
                </div>
                <h3>Surya Sasank</h3>
                <p class="role">Backend developer</p>
                <div class="social-container">
                    <a href="http://www.facebook.com/profile.php?id=" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="http://google.com/+" class="social"><i class="fa fa-google"></i></a>
                    <a href="http://www.linkedin.com/in/" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/menu.js"></script>
</body>
</html>
